.header-row {
	height: 100%;
	max-width: 1000px;
	display: flex;
	margin: auto;

}

.header-content {
	width: 90%;
	height: 100%;
	max-width: 1000px;
	display: grid;
	grid-template-columns: 90px 90px;
	justify-content: space-between;
	margin: 15% auto 0 auto;

}


.sendbutton{
	display: flex;
  	justify-content: center;
  	grid-column: 1 / span 2; /* Занимает обе колонки */
  	grid-row: 6;
  	margin: 0 0 0 0;

}

#send-heroes-button {
	min-width: 100px;
	min-height: 100px;
	display: flex;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 700;
	color: #000000;
	background: #1a9efd;
	background: linear-gradient(90deg, rgb(26, 158, 253) 0%, rgba(79,209,197,1) 100%);
	border: none;
	border-radius: 60px;
	box-shadow: 0 0 0 5px rgb(26, 158, 253);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	padding: 10px;
  }

#send-heroes-button::before {
	content: '';
    border-radius: 60px;
	min-width: calc(100px + 12px);
	min-height: calc(100px + 12px);
	border: 6px solid #1a9efd;
	box-shadow: 0 0 60px rgb(26, 158, 253);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all .3s ease-in-out 0s;
}

#send-heroes-button:hover,
#send-heroes-button:focus {
    cursor: pointer;
    color: #313133;
    transform: translateY(-6px);

}

#send-heroes-button:hover::before,
#send-heroes-button:focus::before {
  	opacity: 1;
	cursor: pointer;

}

#send-heroes-button:hover::after,
#send-heroes-button:focus::after {
	animation: none;
	display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid #00FFCB;
	border-radius: 25px;
    width: 50%;
	z-index: 10;
}




