@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Raleway:400");



#hero-pick-1,
#hero-pick-2,
#hero-pick-3,
#hero-pick-4,
#hero-pick-5,
#hero-pick-6,
#hero-pick-7,
#hero-pick-8,
#hero-pick-9,
#hero-pick-10 {
    cursor: pointer;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 25%;

}


#hero-pick-1.active_pick #hero-icon-1,
#hero-pick-3.active_pick #hero-icon-3,
#hero-pick-5.active_pick #hero-icon-5,
#hero-pick-7.active_pick #hero-icon-7,
#hero-pick-9.active_pick #hero-icon-9{
    border-radius: 10px;
    border: 1px solid #A8EFFFFF;
}


#hero-pick-2.active_pick #hero-icon-2,
#hero-pick-4.active_pick #hero-icon-4,
#hero-pick-6.active_pick #hero-icon-6,
#hero-pick-8.active_pick #hero-icon-8,
#hero-pick-10.active_pick #hero-icon-10{
    border-radius: 10px;
    border: 1px solid #FD4D2BFF;
}



#hero-icon-1,
#hero-icon-2,
#hero-icon-3,
#hero-icon-4,
#hero-icon-5,
#hero-icon-6,
#hero-icon-7,
#hero-icon-8,
#hero-icon-9,
#hero-icon-10 {
    position: absolute;
    object-fit: cover;
}



.menu-1,
.menu-2,
.menu-3,
.menu-4,
.menu-5,
.menu-6,
.menu-7,
.menu-8,
.menu-9,
.menu-10{
    display: none;
}


.menu-1.active,
.menu-3.active,
.menu-5.active,
.menu-7.active,
.menu-9.active{
    border-radius: 10px;
    border: 1px solid grey;
    height: 650px;
    width: 650px;
    margin-left: 128px;
    position: absolute;
    overflow: auto;
    transition: line-height .5s, color .5s;
    display: grid;
    grid-template-columns: 81px 81px 81px 81px 81px 81px 81px;
    grid-template-rows: 50px;
    line-height: 1.2;
    justify-content: space-around;
    color: transparent;
    font-size: 14px;
    background-color: #121212;
    z-index: 100;

}
.menu-2.active,
.menu-4.active,
.menu-6.active,
.menu-8.active,
.menu-10.active{
    border-radius: 10px;
    border: 1px solid grey;
    height: 650px;
    width: 650px;
    margin-left: 128px;
    position: absolute;
    overflow: auto;
    transition: line-height .5s, color .5s;
    display: grid;
    grid-template-columns: 81px 81px 81px 81px 81px 81px 81px;
    grid-template-rows: 50px ;
    line-height: 1.2;
    justify-content: space-around;
    color: transparent;
    font-size: 14px;
    background-color: #121212;
    z-index: 100;

}


.menu__item-1,
.menu__item-2,
.menu__item-3,
.menu__item-4,
.menu__item-5,
.menu__item-6,
.menu__item-7,
.menu__item-8,
.menu__item-9,
.menu__item-10{
    overflow: hidden;
}

.menu__link{
    text-align: center;
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}


ul input {
    margin: 10px 10px 10px 10px;
    grid-column: 1/ span 7;
    color: white;
    border-radius: 5px;
    border: 1px solid grey;
}

.team-menu-1,
.team-menu-2{
    display: none;
}




.team-menu-1.active,
.team-menu-2.active{
    height: 90%;
    width: 650px;
	display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    margin-left: 128px;
	position: absolute;
    background-color: #121212;
    border-radius: 10px;
	color: white;
    border: 1px solid grey;
    list-style: none;
    padding: 0;
	z-index: 200;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    overflow: auto;
}


.team-menu-1 li ,
.team-menu-2 li{
    padding: 8px 12px;
    cursor: pointer;
}

.team-menu-1 li:hover,
.team-menu-2 li:hover{
    background-color: #f0f0f0;
    border-radius: 5px;
}


.team-button-1 {
	width: 90px;
	height: 50px;
    padding: 8px 12px;
	border-radius: 5px;
 	border: 1px solid  #1a9efd;
	background: #1a9efd;
	background: linear-gradient(90deg, rgb(26, 158, 253) 0%, rgba(79,209,197,1) 100%);
	box-shadow: 0 0 60px rgb(26, 158, 253);
	cursor: pointer;
	align-items: center;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.team-button-2 {
	width: 90px;
	height: 50px;
    padding: 8px 12px;
	border-radius: 5px;
 	border: 1px solid #ff6f00;
	background: #ff6f00;
	background: linear-gradient(90deg, rgb(255, 111, 0) 0%, rgb(255, 0, 0) 100%);
	box-shadow: 0 0 60px rgb(255, 111, 0);
	cursor: pointer;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}


/*полоса прокрутки меню*/
::-webkit-scrollbar {
    width: 5px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет фона дорожки скроллбара */
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: #888; /* Цвет ползунка скроллбара */
    border-radius: 15px; /* Радиус скругления ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет ползунка при наведении */
}
