{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'main/css/main.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'main/css/heroes.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'main/css/media.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'main/css/authorization.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static 'main/images/dire.png' %}" type="image/x-icon"/>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</head>
<body>
{% block mainmenu %}
        <header class="header">
            <div class="container">
             <!-- Header nav -->
                <div class="header-nav">
                    <nav id="nav" class="nav">
                        <ul id="menu" class="nav-list">
                        <!-- LOGO -->
                            {% if request.path == '/' %}
                                <li class="logo active">
                                    <a href="{% url 'index' %}"><div class="logo"></div></a>
                                </li>
                            {% else %}
                                <li class="logo">
                                    <a href="{% url 'index' %}"><div class="logo"></div></a>
                                </li>
                            {% endif %}
                            <!--Элементы меню из словаря menu-->
                            {% for i_elem in menu %}
                                {% if i_elem.url_name == request.resolver_match.url_name %}
                                    <li class="active"><a href="{% url i_elem.url_name %}">{{ i_elem.title}} </a></li>
                                {% else %}
                                    <li><a class="nav-item" href="{% url i_elem.url_name %}">{{ i_elem.title}} </a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <button id="nav-btn" class="nav-button">
                            <img id="nav-btn-img" src="{% static 'main/images/nav/NAV-OPEN.svg' %}">
                        </button>
                    </nav>
                    <ul class="log-on-list">
                            <!--Логин и регистрация-->
                            {% if request.user.is_authenticated %}
                                <li class="last"><a>{{ user.username }} <a href="{% url 'logout' %}">выйти</a></li>
                            {% else %}
                                <li class="last"> <a href="{% url 'register' %}">регистрация</a><a href="{% url 'login' %}">войти</a></li>
                            {% endif %}
                    </ul>
                </div>
            </div>
                    <div class="clear"></div>
        </header>
{% endblock mainmenu %}
{% block  scroll %}
    
{% endblock scroll %}

{% block content %}
{% endblock content%}

<header class="bottom-header"></header>
<script src="{% static 'main/js/mobile_nav.js' %}"></script>
<script src="{% static 'main/js/mobilebottomheader.js' %}"></script>
</body>
</html>