{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'main/css/base.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'main/css/index.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'main/css/select.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'main/css/media.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static 'main/images/dire.png' %}" type="image/x-icon"/>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        const tg = Telegram.WebApp;
        tg.setHeaderColor("#121212");
    </script>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</head>
<body>
{% block userinfo %}
        <header class="header">
            <div class="container-header">
                <div class="profile-info">
                    <ul class="user-info-list">
                        {% if user.is_authenticated %}
                            <li class="user-info">
                                <img src="{{ user.avatar.url }}" width="29" height="29" alt="user">
                                <a>{{ user.telegram_username }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </header>


{% endblock userinfo %}


{% block content %}
{% endblock content%}

{% block menu %}
        <header class="bottom-header">
            <div class="container-bottom-header">
                {% for i in menu %}
                   {% if i.url_name %}
                       {% if i.url_name == request.resolver_match.url_name %}
                           <li class="active">
                               <img src="{{ i.image | cut:'.svg' | add:'-active.svg'}}" alt="">
                               <a href="{% url i.url_name %}">{{ i.title}}</a>
                           </li>
                       {% else %}
                           <li class="nav-item">
                               <img src="{{ i.image }}" alt="">
                               <a href="{% url i.url_name %}">{{ i.title}}</a>
                           </li>
                       {% endif %}
                   {% endif %}
               {% endfor %}
            </div>
        </header>
{% endblock menu%}


</body>
</html>