{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="header-row">
        <div class="sendbutton">
                <button id="send-heroes-button">CALC</button>
                <div id="calculation-popup" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Результаты Расчета</h2>
                        <p id="calculation-result"></p>
                    </div>
                </div>
            </div>
        <div class="header-content">

                    <button id="team-select-button-1" class="team-button-1">RADIANT TEAM</button>
                    <ul id="team-select-menu-1" class="team-menu-1">
                        {% for team in teams %}
                            <li data-team-id="{{ team.id }}" data-team-name="{{ team.name }}" data-team-logo="{{ team.logo.url }}">
                                <img src="{{ team.logo.url }}" alt="{{ team.name }}" width="30" height="30"> {{ team.name }}
                            </li>
                        {% endfor %}
                    </ul>

                    <button id="team-select-button-2" class="team-button-2">DIRE TEAM</button>
                    <ul id="team-select-menu-2" class="team-menu-2">
                        {% for team in teams %}
                            <li data-team-id="{{ team.id }}" data-team-name="{{ team.name }}" data-team-logo="{{ team.logo.url }}">
                                <img src="{{ team.logo.url }}" alt="{{ team.name }}" width="30" height="30"> {{ team.name }}
                            </li>
                        {% endfor %}
                    </ul>



            {% for i in '02468'|make_list %}
                <button id="hero-pick-{{i|add:1}}" data-hero-type="radiant" aria-expanded="false" aria-controls="list-{{i|add:1}}">
                    <img id="hero-icon-{{i|add:1}}" src="{% static 'main/images/radiant.png' %}" alt="Герой">
                </button>
                <ul class="menu-{{i|add:1}}" id="list-{{i|add:1}}">
                    <input type="text" id="hero-search-{{i|add:1}}" placeholder="Поиск героя...">
                    {% for hero in heroes %}
                        <li class="menu__item-{{i|add:1}}" data-hero-name="{{ hero.name }}">
                            <a href="#" class="menu__link" tabindex="-1">
                                <img src="{{ hero.icon.url }}" alt="{{ hero.name }}" width="60" height="33">
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <button id="hero-pick-{{i|add:2}}"  data-hero-type="dire" aria-expanded="false" aria-controls="list-{{i|add:2}}">
                    <img id="hero-icon-{{i|add:2}}" src="{% static 'main/images/dire.png' %}" alt="Герой">
                </button>
                <ul class="menu-{{i|add:2}}" id="list-{{i|add:2}}">
                    <input type="text" id="hero-search-{{i|add:2}}" placeholder="Поиск героя...">
                    {% for hero in heroes %}
                        <li class="menu__item-{{i|add:2}}" data-hero-name="{{ hero.name }}">
                            <a href="#" class="menu__link" tabindex="-1">
                                <img src="{{ hero.icon.url }}" alt="{{ hero.name }}" width="60" height="33">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>

<script src="{% static 'main/js/heroes_select.js' %}"></script>
<script src="{% static 'main/js/teams_select.js' %}"></script>
<script src="{% static 'main/js/send_tah.js' %}"></script>
<script src="{% static 'main/js/search.js' %}"></script>

{% endblock %}

